@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

// Font Variables
$font-family: 'Roboto Slab', serif;

// Styles
body {
  font-family: $font-family;
//   font-weight: normal;
}

// Custom 

html{
    scroll-behavior: smooth;
}


.scroll-to-top{
    right: 50px;
    bottom: 50px;
}

.service-icon{
    height: 50px;
    width: 50px;
}

#typed{
    font-size: 50px;
    font-weight: 100;
    text-transform:capitalize;
    color: #198754;
}

.work-style{
    transition: transform 250ms;
}

.work-style{
    &:hover{
        transform:translateY(-10px)
    }
}


